body {
  background-color: #ffeb81;
}

p {
  font-family: cursive;
  color: #00005c;
  font-size: 24pt;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 26em;
}

#bandera {
  width: 100%;
}

#descripcion {}

.info {
  font-size: 26pt;
}

.foto {
  border: 8px groove Grey;
  max-width: 30%;
  min-width: 98px;
}
